* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: greenyellow;
    display: flex;
    justify-content: center;

}

.form {
    background-color: yellow;
    position: absolute;
    top: 30%;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    width: 400px;
    border-radius: 10px;
}

.input {
    width: 100%;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    border: none;
    font-size: 20px;
    font-family: cursive;
}

.input::placeholder {
    color: lightgray;
}

.list li{
    list-style: none;
    padding: 20px;
    font-family: cursive;
    border-top: 1px dashed;
    border-color: lightgray;
    position: relative;
}

.fa-trash {
    color: red;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.fa-square-check {
    color: green;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.list li.checked {
    color: darkgray;
    text-decoration: line-through;
}

.list li.checked .fa-square-check {
    color: darkgray;
}