* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("img/bubbles.png"), linear-gradient(to top, orange, #fff);
  background-repeat: repeat-x, no-repeat;
  background-position: bottom;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  text-align: center;
  font-family: cursive;
}

.stats-container {
  margin: 20px;
  border: dotted green;
  min-width: 250px;
  height: 120px;
  position: relative;
  padding: 1rem;
}

h4 {
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.icon {
  position: absolute;
  top: -30px;
  transform: translateX(-50%);
}

.counter {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  color: green;
}

@media (max-width: 500px) {
  body {
    flex-direction: column;
  }
}
